@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.repo-overiew-button::after {
  position: absolute;
  right: 50%;
  bottom: calc(50% - calc(var(--control-xlarge-size, 48px) / 2 + 1px));
  width: 100%;
  height: 2px;
  content: "";
  background-color: transparent;
  border-radius: 0;
  transform: translate(50%, -50%);
}


.repo-overiew-button[aria-current]:not([aria-current="false"])::after,
.repo-overiew-button[aria-selected="true"]::after {
  background-color: #fd8c73;
}