/* Moved styles here to avoid separate CSS file creation and reduce extra requests */

/* app.vue */
.footer-links li {
  @apply flex justify-center space-y-4 flex-col mt-4;
}

.footer-links li a {
  @apply transition-colors;
}

a {
  @apply cursor-pointer;
}

/* tools-pack.vue */
.loader-tools-pack::before,
.loader-tools-pack::after {
  @apply absolute [content:""] h-32 w-32 border border-gray-500 rounded-[50%] animate-loader;
}

.loader-tools-pack::after {
  opacity: 0;
  animation-delay: 1s;
}

.circle-item {
  @apply transition-all duration-200 ease-in-out will-change-transform
     absolute shadow-lg bg-white rounded-full z-0 border-[0.5px];
}

.circle-item:hover,
.circle-item:focus-within {
  @apply scale-110 z-10;
}

.circle-item:hover .circle-tooltip,
.circle-item:focus-within .circle-tooltip {
  @apply opacity-100 !pointer-events-auto z-10;
}

.circle-image {
  @apply absolute bg-no-repeat bg-center bg-contain rounded-full !pointer-events-none
    w-[95%] h-[95%] left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.circle-tooltip {
  @apply transition-opacity duration-300 ease-in-out absolute
    text-sm bg-gray-800 text-white p-2 max-md:p-1.5 max-sm:p-1 transform
    opacity-0 shadow-xl rounded-lg
    flex flex-col items-center
    !pointer-events-none sm:underline-offset-[1.8px]
    z-0 decoration-white/35;
}

@media (max-width: 225px) {
  .circle-tooltip {
    @apply hidden;
  }
}

.circle-tooltip-a {
  @apply whitespace-nowrap font-bold z-0 relative max-md:text-sm max-xs:text-[.600rem] cursor-pointer;
}

.circle-tooltip-a:focus {
  @apply outline-none ring-0;
}

/* mobile.vue */
.mobile-btn-base {
  @apply w-1/3 h-full py-[9px];
}

.mobile-btn-icon-active {
  @apply rounded-xl border border-zinc-600 shadow-[0_0_20px_4px_rgba(255,255,255,0.7)];
}

.mobile-close-btn {
  @apply absolute inset-0 w-1 rounded-sm bg-gray-700;
}

/* desktop-icon-container.vue */
.desktop-btn-base {
  @apply aspect-square rounded-xl bg-transparent select-none;
}

.desktop-btn-tooltip {
  @apply absolute left-1/2 -translate-x-1/2 -top-8 w-fit text-xs -z-50
    px-2 py-0.5 whitespace-pre rounded-md bg-gray-100 border border-gray-200
    text-neutral-700;
}

.desktop-btn-icon-base {
  @apply transition-all duration-300 ease-in-out center rounded-2xl;
}

.glass-specular {
  box-shadow: inset 0.5px 0.5px 0 rgba(255, 255, 255, 0.75),
    inset 0 0 3px rgba(255, 255, 255, 0.75);
}

.desktop-btn-icon-active {
  @apply shadow-[0_5px_12px_9px_rgba(0,0,0,0.3)] bg-[rgba(0,0,0,0.3)];
}

.desktop-btn-status-dot {
  @apply h-1 w-1 rounded-2xl bg-slate-500 mix-blend-color;
}
